wheel==0.37.1
pip==22.0.2
flask-restx==0.5.1
Flask-Script==2.0.5
Flask==2.0.3
Werkzeug==2.0.3
psycopg2-binary==2.9.1
pytz==2021.3
setproctitle==1.2.2
six==1.15.0
requests==2.25.1
python-dotenv==0.17.0
blinker==1.4
marshmallow==3.12.1
marshmallow-sqlalchemy==0.26.1
flask-redis==0.4.0
importlib-resources==5.4.0
importlib-metadata==4.8.2
typing-extensions==4.0.0
glom==20.11.0
SQLAlchemy==1.4.12
jinja2==3.0.3
pdfkit==1.0.0
